{
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "16.7.0"
    }
  },
  "env": {
    "browser": true,
    "jest/globals": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/all",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "react",
    "jest"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/no-set-state": "off",
    "react/jsx-indent": [2, 2],
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-indent-props": [2, 2],
    "react/jsx-max-props-per-line": "off",
    "react/jsx-no-literals": "off",
    "react/jsx-max-depth": "off"
  },
  "globals": {
    "process": true
  }
}
