@import '../../static/vars.css';

@media all {
  .Controllers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 1rem 4rem 1rem;
  }
  .Controllers .subtitle {
    flex: 100%;
  }
  .Controllers .btn {
    flex: 1 0 7rem;
    margin: 0 1rem 1rem 0;
  }
  .Controllers .btn:nth-child(2n+1) {
    margin-right: 0;
  }
  .Controllers .btn:nth-child(n+4) {
    margin-bottom: 0;
  }
  .Controllers .btn-toggle-label {
    flex: 100%;
    margin: 1rem 0 0 0;
  }
}
